@using PatientPortal.Provider.Helpers;
@using PatientPortal.Utility.Files;
@model IEnumerable<PatientPortal.PatientServices.Models.ArticleViewModel>

@{
    ViewBag.Title = "HỎI ĐÁP Y TẾ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var activeTab1 = "";
    var activeTab2 = "";
    if (ViewBag.TypePage == 0)
    {
        activeTab1 = "active";
    }
    else if (ViewBag.TypePage == 1)
    {
        activeTab2 = "active";
    }
}
<link href="~/Content/qamedical.css" rel="stylesheet" />

<div class="card">
    @Html.Raw(TempData["Alert"])
    <div class="card-title">
        <div class="pull-left">
            @Html.ITitle("Hỏi đáp y tế", "question")
        </div>
        <div class="pull-right">
            @Html.IButton(Url.Action("Create"), ActionButton.Create, "Gửi câu hỏi")
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-content">

        <div class="row" id="qa-question-group">
            <div class="col-md-6 col-xs-6 sort-questions">
                <ul>
                    <li>
                        <a class="@activeTab1" href="@Url.Action("Index")">
                            Mới nhất
                        </a>
                    </li>

                    <li>
                        <a class="@activeTab2" href="@Url.Action("Index", new {type=1})">Chưa trả lời</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="qa-question">
            @foreach (var item in Model)
            {
                <div class="post">
                    <div class="post-heading">

                        <div class="pull-left image">
                            @if (item.ImageProfile != null)
                            {
                                <img src="@FileManagement.ByteArrayToImageBase64(item.ImageProfile)" class="img-circle avatar" alt="user profile image">
                            }
                            else
                            {
                                <img src="~/img/user_1.jpg" class="img-circle avatar" alt="user profile image">
                            }
                        </div>
                        <div class="pull-left meta">
                            <div class="article-title">
                                <label><a href="@Url.Action("Details", new { id = item.Id })">@item.Title</a></label>
                            </div>
                            <h6 class="text-muted time">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))</h6>
                            <p class="text-overflow-ellipsis">@item.Detail</p>
                        </div>
                        <div class="pull-right">
                            @if (item.CountComments > 0)
                            {
                                <button disabled><span class="fa fa-edit"></span> Điều chỉnh</button>
                                <button disabled><span class="fa fa-trash"></span> Xóa câu hỏi</button>
                            }
                            else
                            {
                                @Html.IButton(Url.Action("Edit", new { id = item.Id }), ActionButton.Edit, "Điều chỉnh")
                                @Html.IButton(Url.Action("Delete", new { id = item.Id }), ActionButton.Delete, "Xóa câu hỏi")
                            }

                            @*<div class="col-md-1 col-xs-1 q-right-content">
                                <ul class="question-statistic">
                                    <li>
                                        <a href="@Url.Action("Details", new { id = item.Id })">
                                            <span class="question-views">
                                                @item.CountComments
                                            </span>trả lời
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-1 col-xs-1 q-right-content">
                                <div class="qa-edit-inline">

                                    @if (item.CountComments == 0)
                                    {
                                     <!-- edit link -->
                                        <a href="@Url.Action("Edit", new {id = item.Id})">
                                            <i class="edit-icon glyphicon glyphicon-pencil"></i>
                                        </a>
                                    <!-- delete link -->
                                        <a class="modal-link" href="@Url.Action("Delete", new {id = item.Id})">
                                            <i class="delete-icon glyphicon glyphicon-remove"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Edit", new {id = item.Id})" class="not-active">
                                            <i class="edit-icon glyphicon glyphicon-pencil"></i>
                                        </a>
                                    <!-- delete link -->
                                        <a class="not-active" href="@Url.Action("Delete", new {id = item.Id})">
                                            <i class="delete-icon glyphicon glyphicon-remove"></i>
                                        </a>
                                    }
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="article-bar-bottom">
                        <ul class="horizontal-list">
                            @if (!item.IsClosed)
                            {
                                <li class="f-danger"><span class="fa fa-check"></span> In Progress</li>
                            }
                            else
                            {
                                <li class="f-success"><span class="fa fa-check"></span> Solved</li>
                            }
                            <li class="f-inverse"><span class="fa fa-commenting-o"></span> @item.CountComments.ToString("#,###") Comments</li>
                            <li class="f-inverse"><span class="fa fa-calendar"></span> @item.Date</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

    @*<div id="qa-question">
            <ul id="qa-question-list">
                @foreach (var item in Model)
                {
                    <li class="question-item">
                        <div class="row">
                            <!-- left content -->
                            <div class="col-md-10 col-xs-10 q-left-content">
                                <div class="q-ltop-content">
                                    <h2 itemprop="name">
                                        <a itemprop="url" href="@Url.Action("Details", "Article", new { id = item.Id })" class="question-title">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </a>
                                    </h2>
                                </div>
                                <div class="q-lbtm-content">
                                    <div itemprop="text" class="question-excerpt">
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Detail)
                                        </p>
                                    </div>
                                    <div class="question-cat">
                                        <span itemprop="dateCreated" datetime="on @Html.DisplayFor(modelItem => item.Date)" class="question-time">
                                            Ngày tạo @Html.DisplayFor(modelItem => item.Date)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- end left content -->
                            <!-- right content -->
                            <div class="col-md-1 col-xs-1 q-right-content">

                                <ul class="question-statistic">
                                    <li>
                                        <span class="question-views">
                                            @item.CountComments
                                        </span>
                                        trả lời
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-1 col-xs-1 q-right-content">
                                <div class="qa-edit-inline">

                                    @if (item.CountComments == 0)
                                    {
                                         <!-- edit link -->
                                        <a href="@Url.Action("Edit", new {id = item.Id})">
                                            <i class="edit-icon glyphicon glyphicon-pencil"></i>
                                        </a>
                                        <!-- delete link -->
                                        <a class="modal-link" href="@Url.Action("Delete", new {id = item.Id})">
                                            <i class="delete-icon glyphicon glyphicon-remove"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            <!-- end right content -->
                        </div>
                    </li>
                }
            </ul>
        </div>*@
</div>