@using PatientPortal.Provider.Helpers;
@model PatientPortal.CMS.Models.LinkBuildingViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    @Html.ITitle("Liên kết website", TitleBar.Delete)
</div>

@using (Html.IBeginForm("Delete", "LinkBuilding"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.IGroupModalMessage()
    @Html.IGroupModalSubmitButton("Xóa dữ liệu")
}


