@using PatientPortal.Provider.Helpers;
@model PatientPortal.Internal.Models.DepartmentServicesViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    @Html.ITitle("Dịch vụ", TitleBar.Delete)
</div>

@using (Html.IBeginForm("ServicesDelete", "Department"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DepartmentId)
    @Html.IGroupModalMessage()
    @Html.IGroupModalSubmitButton("Xóa dữ liệu")
}

