@using PatientPortal.Provider.Helpers;
@model PatientPortal.CMS.Models.GalleryModel
@{
    ViewBag.Title = "Thư viện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
<link href="~/Libs/Chosen/css/chosen.css" rel="stylesheet" />
<link href="~/Content/checkbox-radio-build.css" rel="stylesheet" />
}
<div class="card">
    @Html.Raw(TempData["Alert"])
    <div class="card-title">@Html.ITitle("Thư viện", "server")</div>
    <div class="card-content">
        <div class="col-md-5">
            <div id="panelAdd">
                @Html.Partial("_Create", Model.Gallery)
            </div>
        </div>
        <div class="col-md-7">
            <div id="panelList">
                @Html.Partial("_List", Model.lstGallery)
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Libs/Chosen/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
        var config = {
          '.chosen-select'           : {}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
</script>
}